.title {
    font-weight: normal;
    font-family: verdana;
    font-size: 50px;
    color: white;
}

body {
    background-color: black;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
}
.second {
    color: white;
    font-size: 42px;
    font-weight: 300;
    font-family: verdana;
}

.third {
    color: gray;
    font-size: 21px;
    font-family: verdana;
}


body .fourth {
    color: gray;
    text-align: right;
}
